<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>$title$</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        <script type="text/javascript"
src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" />
        </script> <!TODO: pass that only if mathjax is on (or if it's not off) >
        <script src="https://code.jquery.com/jquery-2.2.2.min.js" type="text/javascript"/>
        <script src="../../js/footnotes.js" type="text/javascript"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/anchor-js/3.2.0/anchor.min.js"></script>
        <! TODO: add bootstrap>
    </head>
    <body>
        <div id="header">
            <div id="logo">
                <a>Jakub Sygnowski</a>
            </div>
            <div id="navigation">
                <a href="/">Blog</a>
                <a href="/about.html">About</a>
                <a href="/projects.html">Projects</a>
                <a href="/progress.html">Progress</a>
                <a href="/archive.html">Old posts</a>
            </div>
        </div>

        <div id="content">
            $body$
        </div>
        <div id="footer">
            Site built by
            <a href="http://jaspervdj.be/hakyll">Hakyll</a>,
            <a href="https://www.mathjax.org/">MathJax</a>
            and <a href="http://ignorethecode.net/blog/2010/04/20/footnotes/">Footnotes.js</a>.
        </div>
    </body>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85187126-1', 'auto');
  ga('send', 'pageview');

  </script>
</html>
