$body$

$if(post_url)$
$else$  <!-- nonheader -->
<div id="disqus_thread"></div>
<script>
    var gaProperty = 'UA-85187126-1';
    var disableStr = 'ga-disable-' + gaProperty;
    if (document.cookie.indexOf(disableStr + '=true') == -1) {
      var disqus_config = function () {
          this.page.url = "https://sygnowski.ml"
          this.page.identifier = "sygii"
      };
      (function() {
          var d = document, s = d.createElement('script');
          s.src = '//sygii.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
      })();
    }
</script>
<!-- <script>
  (function () {
    'use strict';
    anchors.options.placement = 'right';
    anchors.add('h2, h3');
  })();
</script> -->
$endif$
